.card {
  box-sizing: border-box;
  width: 200px;
  height: 408px;
  border: 1px solid $card-border-color;
  border-radius: 5px;
  padding: 32px 16px 16px;

  &__image {
    display: block;
    width: 160px;
    height: 134px;
    margin: 0 auto 40px;
  }

  &__code {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 0.63rem;
    line-height: 14px;
    letter-spacing: 0%;
    color: $secondary-text-color;
    margin-top: 4px;
    margin-bottom: 16px;
  }

  &__name {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 18px;
    letter-spacing: 0%;
    color: $main-text-color;
    margin-bottom: 0;
  }

  &__reviews-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 24px;
  }

  &__reviews-count {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 0.63rem;
    line-height: 14px;
    letter-spacing: 0%;
    text-align: right;
    color: $main-text-color;
  }

  &__buy-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__buy-price {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 18px;
    letter-spacing: 0%;
    color: $secondary-text-color;
  }

  &__buy-price-value {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: right;

    color: $main-text-color;
  }

  &__buy-button {
    display: flex;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 0.88rem;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    background-color: $main-button-color;
    color: $white-color;
    margin-top: 16px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 40px;
    border: 1px solid $main-button-color;
    border-radius: 5px;
    text-decoration: none;
    &:hover {
      color: $main-button-color;
      background-color: $white-color;
    }
  }
}
